<!-- <ejs-treegrid #treeGrid [dataSource]="data" childMapping="subTasks" [treeColumnIndex]="1" [height]="600"
  [allowReordering]="true" enableCollapseAll="true" [enableInfiniteScrolling]="true" [pageSettings]="pageSettings"
  [contextMenuItems]="contextMenuItems" [allowResizing]="true" showColumnMenu="true"
  [columnMenuItems]="columnMenuItems" [allowSorting]="true" [allowExcelExport]="true" [editSettings]="editSettings"
  [allowPdfExport]="true" (columnMenuClick)="contextMenuOpen($event)"> -->

  <!-- (load)="load($event)" -->

<ejs-treegrid
  #treeGrid
  [dataSource]="data"
  childMapping="subTasks"
  [treeColumnIndex]="1"
  [height]="600"
  enableCollapseAll="true"
  [enableInfiniteScrolling]="true"
  [pageSettings]="pageSettings"
  [allowResizing]="true"
  [contextMenuItems]="contextMenuItems"
  [columnMenuItems]="columnMenuItems"
  [allowSorting]="true"
  [allowExcelExport]="true"
  [editSettings]="editSettings"
  [allowPdfExport]="true"
  (contextMenuClick)="contextMenuClick($event)"
  (contextMenuOpen)="contextMenuOpen($event)"
>
  <ng-template #template ngFor let-column [ngForOf]="columns">
    <e-column
      [field]="column.field"
      [headerText]="column.headerText"
      [isPrimaryKey]="column.isPrimaryKey != null ? column.isPrimaryKey : null"
      [width]="column.minWidth"
    >
    </e-column>
  </ng-template>

  <ng-template #editsettingsTemplate let-date>
    <div ngForm>
      <div class="form-group">
        <div class="e-float-input e-control-wrapper">
          <input name="taskID" type="number" />
          <label class="e-float-text e-label-top" for="taskID"> Task ID </label>
        </div>
        <div class="e-float-input e-control-wrapper">
          <input name="name" type="number" />
          <label class="e-float-text e-label-top" for="name"> Name </label>
        </div>
        <div class="e-float-input e-control-wrapper">
          <input name="age" type="number" />
          <label class="e-float-text e-label-top" for="age"> Age </label>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-treegrid>

<ejs-dialog
  id="dialog"
  [visible]="false"
  #ejDialog
  showCloseIcon="true"
  isModal="true"
  (overlayClick)="onOverlayClick()"
  [target]="targetElement"
  width="250px"
  header="New"
  [buttons]="buttons"
>
  <div [formGroup]="form">
    <div class="form-group">
      <div class="e-float-input e-control-wrapper">
        <input name="field" type="text" formControlName="field" />
        <label class="e-float-text e-label-top" for="field"> Field Name </label>
      </div>
    </div>
    <div class="form-group">
      <div class="e-float-input e-control-wrapper">
        <input name="headerText" type="text" formControlName="headerText" />
        <label class="e-float-text e-label-top" for="headerText">
          Header Text
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="e-float-input e-control-wrapper">
        <!-- <input name="dataType" type="text" formControlName="dataType" /> -->
        <select
          class="select"
          formControlName="dataType"
          id="dataType"
          [(ngModel)]="selectedDataType"
          (change)="onChangeDataType()"
        >
          <option *ngFor="let type of dataTypes" [value]="type?.id">
            {{ type.value }}
          </option>
        </select>
        <label class="e-float-text e-label-top" for="dataType">
          Data Type
        </label>
      </div>
    </div>
    <div class="form-group" *ngIf="selectedDataType === 'dropdownList'">
      <div class="e-float-input e-control-wrapper">
        <input
          name="minWidth"
          type="number"
          [(ngModel)]="listItemInput"
          [ngModelOptions]="{ standalone: true }"
        />
        <button type="button" (click)="onDropdownListItemAdd()">Add</button>
        <label class="e-float-text e-label-top" for="minWidth">
          Add Dropdown List Item
        </label>
      </div>
      <span *ngFor="let item of listItems; let index = index">
        <p>{{ item.value }} www11</p>
        <button type="button" (click)="onDropdownListItemRemove(index)">
          Remove
        </button>
      </span>
    </div>
    <div class="form-group">
      <div class="e-float-input e-control-wrapper">
        <input name="minWidth" type="text" formControlName="minWidth" />
        <label class="e-float-text e-label-top" for="minWidth">
          Min Width
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="e-float-input e-control-wrapper">
        <input name="defaultValue" type="text" formControlName="defaultValue" />
        <label class="e-float-text e-label-top" for="defaultValue">
          Default Value
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="e-float-input e-control-wrapper">
        <input name="fontSize" type="number" formControlName="fontSize" />
        <label class="e-float-text e-label-top" for="fontSize">
          Font Size
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="e-float-input e-control-wrapper">
        <input name="fontColor" type="text" formControlName="fontColor" />
        <label class="e-float-text e-label-top" for="fontColor">
          Font Color
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="e-float-input e-control-wrapper">
        <input
          name="backgroundColor"
          type="text"
          formControlName="backgroundColor"
        />
        <label class="e-float-text e-label-top" for="backgroundColor">
          Background Color
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="e-float-input e-control-wrapper">
        <input name="Alignment" type="text" formControlName="Alignment" />
        <label class="e-float-text e-label-top" for="Alignment">
          Alignment
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="e-float-input e-control-wrapper">
        <input name="textWrap" type="checkbox" formControlName="textWrap" />
        <label class="e-float-text e-label-top" for="textWrap">
          Text Wrap
        </label>
      </div>
    </div>
  </div>
</ejs-dialog>
<!-- <ng-template #header>
  <span class="e-icon-userlogin e-icons employee"></span>
   Emp ID
</ng-template> -->
<router-outlet></router-outlet>
